<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.obstructiveinterfaces"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/compose_email"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.obstructiveinterfaces.MainActivity"
            android:label="@string/compose_email" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.obstructiveinterfaces.ObstructiveActivity"
            android:label="@string/send_click"
            android:parentActivityName="com.example.obstructiveinterfaces.MainActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.obstructiveinterfaces.MainActivity" />
        </activity>
        <activity
            android:name="com.example.obstructiveinterfaces.InformationActivity"
            android:label="@string/title_activity_information"
            android:parentActivityName="com.example.obstructiveinterfaces.ObstructiveActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.obstructiveinterfaces.ObstructiveActivity" />
        </activity>
        <activity
            android:name="com.example.obstructiveinterfaces.PositiveResponse"
            android:label="@string/title_notification_newMSG" >
        </activity>
        <activity
            android:name="com.example.obstructiveinterfaces.NegativeResponse"
            android:label="@string/title_notification_newMSG" >
        </activity>
        <activity
            android:name="com.example.obstructiveinterfaces.InitialActivity"
            android:label="@string/title_activity_initial"
            android:parentActivityName="com.example.obstructiveinterfaces.MainActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name="com.example.obstructiveinterfaces.ObstructiveActivity2"
            android:label="@string/title_activity_obstructive_activity2"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
    </application>

</manifest>
